@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    color: #646464;
}

html, body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
}

html {
    padding: 2.5vh;
}

body {
    border: 1.5vw solid #f166a0;
    border-radius: 64px;
}

#rules > main > div {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 64px;
}

#rules > main > div p, #rules > main > div li {
    font-size: 0.9em;
}

header, main, footer {
    padding: 0 5vw;
}

footer {
    padding-bottom: 27px;
}

h1 {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
}

main {
    display: flex;
}

form > div {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
    border: none;
    background-color: #f166a029;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}

button {
    width: min-content;
    height: min-content;
    padding: 8px 40px;
    margin-top: 10px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    background-color: #ffb8d6;
    font-size: 14px;
    white-space: nowrap;
}

form label {
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

#games header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#games h1 {
    font-size: 40px;
}

#games > button {
    font-size: 18px;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    div.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    div.grid {
        grid-template-columns: 1fr;
    }
}

.grid .game {
    background-color: #EAEAEA;
    padding: 24px;
    border-radius: 7px;
    height: min-content;
}

div.grid  button {
    width: 100%;
}

body#games {
    margin-bottom: 64px;
}

#games h2 {
    margin: 0;
}

#games ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 54px;
}

#games li {
    margin-bottom: 7px;
    font-weight: 300;
}

#games body {
    display: flex;
    flex-direction: column;
}

#games main {
    flex: 1;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

#newGameForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
    z-index: 2;
    flex-direction: column;
}

#newGameForm label {
    margin-bottom: 8px;
}

#newGameForm button {
    margin-top: 8px;
}

#discardCards button, #playerHand .cards button {
    background: none;
    border: none;
    padding: 0;
}

#discardCards img {
    width: 3vw;
}

#gameField {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#gameField main {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1.8fr 1fr;
    gap: 10vh;
}

#gameField .stock-card-button {
    padding: 0;
    background-color: none;
}

#gameField .stock-card-button img {
    width: 6vw;
}

.otherPlayer img {
    width: 36px;
}

.otherPlayer h2 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
}

#mainPiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#playerHand img {
    width: 72px;
}

#playerHand #finishButton {
    padding: 12px;
}

#playerHand #playerName {
    display: flex;
    align-items: center;
    gap: 20px;
}

#StockDiscard {
    display: flex;
    gap: 120px;
}

#drawPile {
    margin-left: 2vw;
}

#drawPile h2 {
    margin-top: 0;
}

#gameField #gamePiles > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 50px;
}

#gameField #gamePiles img {
    width: 6vw;
}

#gameField #exit {
    margin-top: 3vh;
}

#gameField #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1000;
}

#gameField #overlayMessage {
    margin-top: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 27vw;
    height: 39vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#gameField #overlayMessage p {
    font-size: 48px;
}

#gameField #overlayMessage button {
    padding: 16px 32px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    margin-top: -10px;
}